
### Django ###
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
db.sqlite3-journal
media

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env

.DS_Store

### Node ###
# Logs
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/



